html{
    scroll-behavior: smooth;
}
.project-archive{
    display: flex;
    flex-direction: column;
    width: 72%;
    margin: auto;
}

.archive-title{
    font-size: 44px;
    font-weight: 800;
}

.archive-intro{
    font-size: 20px;
}

.archive-body{
    padding: 10px;
}

.archive-table{
    width: 100%;
    text-align: left;
    padding: 30px 0 40px 0;
}

.table-head{
    color: grey;
    
}

@media only screen and (max-width:1024px) {
    .project-archive{
        width: 90%;
    }

}

@media only screen and (max-width:512px) {
    .project-archive{
        width: 100%;
    }
}