.web{
    display: flex;
    flex: 1;
    align-items: center;
}

.web-option{
    font-size: 18px;
    margin-right: 20px;
    font-weight: 650;
}

.web-option a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.web-option :hover{
    color: blueviolet;
}

.option-icon{
    display: flex;
    align-items: center;
    margin: 5px;
}

.web-option:last-child{
    margin-right: 0px;
}